:root {
  --base-unit: 0.8rem;
  --size50: 0.4rem;
  --size100: 0.8rem;
  --size150: 1.2rem;
  --size200: 1.6rem;
  --size300: 2.4rem;
  --size400: 3.2rem;
  --size500: 4rem;
  --size600: 4.8rem;
  --size700: 5.6rem;
  --size800: 6.4rem;
  --size900: 7.2rem;
  --size1000: 8.0rem;
  --size1100: 8.8rem;
  --size1200: 9.6rem;
  --size1300: 10.4rem;
  --size2200: 17.6rem;
  --c-purple300: #3A158C;
  --c-purple400: #520AAC;
  --c-purple600: #6C34DB;
  --c-orange400: #FC8031;
  --c-yellow400: #FFD748;
  --c-blue600: #5AEBEB;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  /*
  This allows us to use readable rems.
  - 24px becomes 2.4rem
  - 10px becomes 1rem
  - etc
   */
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #333;
}

a {
  color: var(--c-purple600);
  display: inline-block;
  transition: box-shadow 100ms ease, background 100ms ease;
  box-shadow: 0 0 0 transparent;

  &:hover {
    color: #FFF;
    background: var(--c-orange400);
    box-shadow: 0.2rem 0.2rem 0 var(--c-orange400);
    transition: box-shadow 50ms ease, background 100ms ease;
    text-decoration: none;
  }

  &:visited {
    color: var(--c-purple300);

    &:hover {
      color: #FFF;
    }
  }
}

.c-article-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding-left: 0;
    padding-top: var(--size300);
    padding-bottom: var(--size300);
    padding-right: var(--size100);

    border-bottom: 1px solid #DDD;
  }

  a {
    text-decoration: none;
  }

  time {
    color: #777;
    display: block;
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: var(--size100);
    position: relative;
    z-index: 2;
  }

  h2 {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    font-size: 2rem;
  }
}

.c-pagination {
  padding-top: var(--size400);
  padding-bottom: var(--size1000);
  text-align: right;

  a {
    vertical-align: top;
    display: inline-block;
    margin-left: var(--size200);
    text-decoration: none;
    padding-left: var(--size100);
    padding-right: var(--size100);
    padding-bottom: var(--size100);
    padding-top: var(--size100);
    box-shadow: var(--size100) var(--size100) 0 var(--c-purple600);
  }

  a.c-pagination__previous {
    box-shadow: calc(-1 * var(--size100)) var(--size100) 0 var(--c-purple600);
  }
}

@media all and (min-width: 45em) {
  .c-article-list {
    h2 {
      font-size: 2.6rem;
    }
  }
}
