:root {
  --base-unit: 0.8rem;
  --size50: 0.4rem;
  --size100: 0.8rem;
  --size150: 1.2rem;
  --size200: 1.6rem;
  --size300: 2.4rem;
  --size400: 3.2rem;
  --size500: 4rem;
  --size600: 4.8rem;
  --size700: 5.6rem;
  --size800: 6.4rem;
  --size900: 7.2rem;
  --size1000: 8.0rem;
  --size1100: 8.8rem;
  --size1200: 9.6rem;
  --size1300: 10.4rem;
  --size2200: 17.6rem;
  --font-size-default: 1.8rem;
  --font-size-xs: 1rem;
  --font-size-s: 1.4rem;
  --font-size-m: 1.8rem;
  --font-size-l: 2.2rem;
  --font-size-xl: 2.6rem;
  --font-size-xxl: 3rem;
  --c-white: #FFFFFF;
  --c-blue: HSL(220, 82%, 56%);
  --c-blue-d1: HSL(220, 82%, 30%);
  --c-blue-l1: HSL(220, 82%, 64%);
  --c-yellow: HSL(51, 88%, 56%);
  --c-yellow-d1: HSL(51, 88%, 25%);
  --c-yellow-l1: HSL(51, 88%, 75%);
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  /*
  This allows us to use readable rems.
  - 24px becomes 2.4rem
  - 10px becomes 1rem
  - etc
   */
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-default);
  line-height: 1.4;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #333333;
  background: #CCCCCC;
}

pre {
  display: block;
  max-width: 100%;
  padding: var(--size150);
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: var(--size150) 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

pre td:first-child {
  padding-right: var(--size150);
  padding-left: var(--size150);
  background: rgba(255, 255, 255, 0.2);
}

pre td:last-child {
  padding-left: var(--size150);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

a {
  color: var(--c-blue);

  &:hover {
    color: var(--c-blue-l1);
  }

  &:visited {
    color: var(--c-blue-d1);
  }
}

hr {
  margin-top: var(--size400);
  margin-bottom: var(--size400);
  margin-left: 20%;
  margin-right: 20%;
  color: #CCCCCC;
}


main {
  margin-bottom: var(--size1000);
}

