.c-article-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding-left: 0;
    padding-top: var(--size300);
    padding-bottom: var(--size300);
    padding-right: var(--size100);

    border-bottom: 1px solid #DDD;
  }

  a {
    text-decoration: none;
  }

  time {
    color: #777;
    display: block;
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: var(--size100);
    position: relative;
    z-index: 2;
  }

  h2 {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    font-size: 2rem;
  }
}

@media all and (min-width: 45em) {
  .c-article-list {
    h2 {
      font-size: 2.6rem;
    }
  }
}
