.c-forest {
  ul {
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    background: var(--c-purple600);
    color: var(--c-white);
    text-decoration: none;
  }

  span {
    display: none;
  }
}

@media all and (max-width: 32.5em) {
  .c-forest {
    li {
      width: 100%;
      padding-right: var(--size600);
      margin-bottom: var(--size200);
    }

    li:nth-child(2n) {
      text-align: right;
      padding-right: 0;
      padding-left: var(--size600);
      margin-bottom: var(--size300);
    }

    li:nth-child(3n) {
      padding-left: var(--size100);
      padding-right: var(--size200);
      margin-bottom: var(--size100);
    }

    li:nth-child(5n) {
      padding-left: var(--size400);
      padding-right: var(--size300);
      margin-bottom: var(--size150);
    }

    a {
      font-size: 1.2rem;
      padding: 0.2rem 1rem;
    }
  }
}

@media all and (min-width: 32.51em) {
  .c-forest {
    --base-item-size: 2rem;
    --expansion-factor: 4;

    ul {
      display: flex;
      flex-wrap: wrap;
      padding-top: calc(var(--base-item-size) * 2.25);
    }

    li {
      width: var(--base-item-size);
      height: var(--base-item-size);
      margin-left: calc(var(--base-item-size) / 2);
      margin-right: calc(var(--base-item-size) / 2);
      margin-bottom: var(--base-item-size);
    }

    a {
      text-align: center;
      width: var(--base-item-size);
      height: var(--base-item-size);
      color: var(--c-purple600);
      border-radius: 50%;
      z-index: 1;
      transition: transform 100ms ease-out;
    }

    h2 {
      display: none;
    }

    span {
      font-weight: 700;
      display: block;
      position: fixed;
      top: 7rem;
      left: 50%;
      background: var(--c-purple600);
      color: var(--c-white);
      padding: 0.4rem 1rem;
      box-shadow: 0.2rem 0.2rem 0 var(--c-orange400);
      transform: translate3d(-50%, -2rem, 0);
      opacity: 0;
      transition: transform 100ms ease-out,
                  opacity 200ms ease-out;
    }

    a:focus,
    a:hover {
      transform: scale3d(var(--expansion-factor), var(--expansion-factor), 1);
      transition: transform 100ms ease-out;
      box-shadow: none;
    }

    a:focus + span,
    a:hover + span {
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
      transition: transform 100ms ease-in,
                  opacity 200ms ease-out;
    }

    a:visited {
      background: var(--c-gray800);
    }
  }
}
