.c-pagination {
  padding-top: var(--size400);
  padding-bottom: var(--size1000);
  text-align: right;

  a {
    vertical-align: top;
    display: inline-block;
    margin-left: var(--size200);
    text-decoration: none;
    padding-left: var(--size100);
    padding-right: var(--size100);
    padding-bottom: var(--size100);
    padding-top: var(--size100);
    box-shadow: var(--size100) var(--size100) 0 var(--c-purple600);
  }

  a.c-pagination__previous {
    box-shadow: calc(-1 * var(--size100)) var(--size100) 0 var(--c-purple600);
  }
}
