.c-main-article {
  padding-top: var(--size400);
  padding-bottom: var(--size800);

  &__wrapper {
    max-width: 64rem;
    margin: 0 auto;
    padding-left: var(--size200);
    padding-right: var(--size200);
  }

  header {
    time {
      font-size: 1.2rem;
      font-weight: 700;
      color: #999;
    }

    h1 {
      margin-top: 0;
    }
  }



  p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: var(--size300);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: var(--size300);
  }
}
