.p-home {
  background-color: var(--c-purple300);
  color: #FFF;
  padding-top: var(--size400);
  padding-bottom: var(--size400);

  h1, h2, p {
    margin: 0;
  }

  h1 {
    font-size: 7rem;
    line-height: 1;
    font-size: 900;
    margin-bottom: var(--size300);
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: var(--size100);
  }

  ul {
    margin-top: 0;
    margin-bottom: var(--size200);
    padding-left: 0;
    list-style: none;
  }

  section {
    background-color: #FFF;
    color: #333;
    margin-left: var(--size200);
    margin-right: var(--size400);
    margin-bottom: var(--size400);
    padding-bottom: var(--size300);
    padding-left: var(--size200);
    padding-right: var(--size200);
    padding-top: var(--size200);
  }

  .s-introduction {
    background-color: var(--c-purple400);
    color: #FFF;

    a {
      color: #FFF;
    }
  }

  .s-blogroll {
    margin-left: var(--size400);
    margin-right: var(--size200);
    box-shadow: var(--size100) var(--size100) 0 var(--c-orange400);
  }

  .s-zettelkasten {
    box-shadow: var(--size100) var(--size100) 0 var(--c-blue600);
  }

  .s-contact {
    margin-left: var(--size400);
    margin-right: var(--size200);
    box-shadow: var(--size100) var(--size100) 0 var(--c-yellow400);
  }
}

@media all and (max-width: 45em) {
  .p-home {
    .u-wrapper {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media all and (min-width: 45em) {
  .p-home {
    h1 {
      font-size: 14rem;
    }

    section {
      position: relative;
    }

    .s-introduction {
      width: 70%;
      margin-left: 0;
      padding-left: var(--size400);
      padding-right: var(--size600);
      z-index: 1;
    }

    .s-blogroll {
      margin-left: 50%;
      margin-top: calc(-1 * var(--size600));
      z-index: 4;
    }

    .s-zettelkasten {
      margin-left: 30%;
      margin-right: 20%;
      margin-top: calc(-1 * var(--size600));
      padding-top: var(--size500);
      z-index: 3;
    }

    .s-contact {
      margin-left: 10%;
      margin-right: 40%;
      margin-top: calc(-1 * var(--size600));
      z-index: 2;
    }
  }
}

@media all and (min-width: 60em) {
  .p-home {
    .s-introduction {
      width: 55%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -70vw;
        width: 100vw;
        background-color: var(--c-purple400);
        z-index: 1;
      }

      h1, p {
        position: relative;
        z-index: 2;
      }

      p {
        font-size: 2rem;
      }
    }

    .s-blogroll {
      margin-top: calc(-1 * var(--size2200));
    }

    .s-contact {
      margin-left: 60%;
      margin-right: 0;
      padding-top: var(--size500);
    }
  }
}
