.s-main-footer {
  text-align: center;

  p {
    border-top: 1px solid var(--c-purple600);
    margin: 0;
    padding-top: var(--size100);
    padding-bottom: var(--size100);
    line-height: 1;
    color: var(--c-purple600);
  }
}
