.s-main-header {
  nav {
    border-bottom: 1px solid var(--c-purple600);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: var(--size100);
    padding-bottom: var(--size100);
  }

  li {
    margin-right: var(--size100);
  }

  li:first-child a {
    background-color: var(--c-purple300);
    color: #FFF;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    padding-top: var(--size100);
    padding-bottom: var(--size100);
    padding-left: var(--size100);
    padding-right: var(--size100);
    font-weight: 700;
    text-decoration: none;

    &:visited {
      color: var(--c-purple600);

      &:hover {
        color: #FFF;
      }
    }
  }
}
