.u-wrapper {
  max-width: 72rem;
  margin-left: var(--size200);
  margin-right: var(--size200);
}

.u-reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 45em) {
  .u-wrapper {
    padding-left: var(--size200);
    padding-right: var(--size200);
    margin-left: auto;
    margin-right: auto;
  }
}
