@import '_normalize';
@import '_base';
@import '_utilities';

.s-main-header {
  nav {
    padding-top: var(--size300);
    padding-bottom: var(--size200);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    &.current a {
      background-color: #333333;
      color: #FFFFFF;
    }
  }

  a {
    text-decoration: none;
    color: #333333;
    border-bottom: 2px solid #333333;
    padding: 0.3rem 0.7rem;

    &:hover {
      background-color: #333333;
      color: #FFFFFF;
    }
  }
}

.p-home {
  h1 {
    font-size: var(--font-size-l);
    margin-bottom: var(--size50);
  }

  h2,
  p {
    margin-bottom: var(--size50);
  }

  p {
    margin-top: 0;
  }

  .s-main-header li:first-child a {
    background-color: #333333;
    color: #FFFFFF;
  }

  section {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      position: relative;

      time {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(-115%, -50%, 0);
        font-size: var(--font-size-xs);
        color: #999999;
        font-weight: 700;
        font-family: monospace;
      }
    }
  }
}
