@import '_normalize';
@import '_base';
@import '_utilities';

.c-main-header {
  nav {
    padding-top: var(--size300);
    padding-bottom: var(--size200);
  }

  li {
    display: inline-block;

    &.current a {
      background-color: #333333;
      color: #FFFFFF;
    }
  }

  a {
    text-decoration: none;
    color: #333333;
    border-bottom: 2px solid #333333;
    padding: 0.3rem 0.7rem;

    &:hover {
      background-color: #333333;
      color: #FFFFFF;
    }
  }
}

.p-index {
  h1 {
    font-size: var(--font-size-l);
    margin-bottom: var(--size50);
  }

  h2,
  p { margin-bottom: var(--size50); }

  p { margin-top: 0; }

  .c-articles li { margin-bottom: var(--size100); }
}

.p-home {
  .s-main-header li:first-child a {
    background-color: #333333;
    color: #FFFFFF;
  }
}

.c-articles {
  li {
    display: block;
    position: relative;
  }

  a {
    position: relative;
    display: block;
  }

  time {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(-115%, -40%, 0);
    font-size: var(--font-size-xs);
    color: #999999;
    font-weight: 700;
    font-family: monospace;
  }
}

.c-section-intro { margin-bottom: var(--size300); }

.c-pagination {
  margin-top: var(--size500);
  overflow: auto;

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  a {
    display: block;
  }

  &__previous {
    float: left;
  }

  &__next {
    float: right;
  }
}
