{% extends "site.html" %}

{% block body_classes %}p-tags{% endblock %}

{% block title %}Tags | Tales Cione{% endblock %}
{% block meta_og_title %}Tags | Tales Cione{% endblock %}

{% block description %}View all tags used by me{% endblock %}
{% block meta_og_description %}View all tags used by me{% endblock %}

{% block content %}
  <div class="u-wrapper">
    <h1>Gimme all your tags :3</h1>

    <ul class="u-horizontal-list">
      {% for tag in terms %}
        <li>
          <a href="{{ tag.permalink }}" title="View all posts tagged with {{ tag.name }}">
            #{{ tag.name }}<sup>{{ tag.pages | length }}</sup>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
