{% extends "site.html" %}

{% block body_classes %}p-tags{% endblock %}

{% block title %}Blog tags | Tales Cione{% endblock %}
{% block meta_og_title %}Blog tags | Tales Cione{% endblock %}

{% block description %}View all tags used in my blog{% endblock %}
{% block meta_og_description %}View all tags used in my blog{% endblock %}

{% block content %}
  <div class="u-wrapper">
    <h1>Blog tags</h1>

    <ul class="c-article-list">
      {% for tag in terms %}
        <li>
          <a href="{{ tag.permalink }}" title="View all posts tagged with {{ tag.name }}">
            {{ tag.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
