{% extends "site.html" %}

{% block body_classes %}p-tags{% endblock %}

{% block title %}Archive for {{ term.name }} | Tales Cione{% endblock %}
{% block meta_og_title %}Archive for {{ term.name }} | Tales Cione{% endblock %}

{% block description %}See all posts tagged with {{ term.name }}{% endblock %}
{% block meta_og_description %}See all posts tagged with {{ term.name }}{% endblock %}

{% block content %}
  <div class="u-wrapper">
    <h1>Archive for #{{ term.name }}</h1>

    <ul class="c-articles u-reset-list">
      {% for page in term.pages %}
        <li>
          {% if page.date %}
            <time datetime="{{ page.date }}">{{ page.date | date }}</time>
          {% endif %}
          <a href="{{ page.permalink }}" title="{{ page.summary }}">
            <h2>{{ page.title }}</h2>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
