{% extends "site.html" %}

{% block body_classes %}p-default{% endblock %}

{% block title %}Page not found | Tales Cione{% endblock %}
{% block meta_og_title %}Page not found | Tales Cione{% endblock %}

{% block description %}That's unfortunate. Regardless, please pay a visit :){% endblock %}
{% block meta_og_description %}That's unfortunate. Regardless, please pay a visit :){% endblock %}

{% block content %}
  <section class="c-article">
    <div class="u-wrapper">
      <header>
        <h1>This page does not exist</h1>
      </header>

      <p>And that's a bit of a shame. However, we should face the facts.</p>

      <p>If you are still interested in staying, pay a visit to my <a href="{{ get_url(path="@/writing/_index.md", trailing_slash=true) }}" title="Check out a surprise assortment of topic">writing</a>. If you're feeling particularly adventurous, explore my <a href="{{ get_url(path="@/blips/_index.md", trailing_slash=true) }}" title="Check out my fancy Zettelkasten entries">blips</a>.</p>

      <p>Happy to have you around :)</p>
    </div>
  </section>
{% endblock %}
