{% extends "site.html" %}

{% block body_classes %}p-home p-index{% endblock %}
{% block structured_data %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Tales Cione",
    "jobTitle": "Engineering Manager",
    "url": "https://tales.dev",
    "knowsLanguage": [
      {
        "@context": "http://schema.org/",
        "@type": "Language",
        "name": "Portuguese",
        "alternateName": "pt"
      },
      {
        "@context": "http://schema.org/",
        "@type": "Language",
        "name": "English",
        "alternateName": "en"
      }
    ],
    "sameAs": [
      "https://twitter.com/tcione",
      "https://www.linkedin.com/in/tcione"
    ]
  }
</script>
{% endblock %}

{% block content %}
  <div class="u-wrapper">
    <section class="s-introduction">
      <h1>Hi, there!</h1>

      <p>I'm Tales, a Brazilian software developer living in Berlin. I'm currently working as an Engineering Manager for <a href="https://heyjobs.co" title="Visite the HeyJobs home page" target="_blank" rel="noopener">HeyJobs</a>.</p>
    </section>

    <section class="s-articles">
      <h2>Writing</h2>

      <ul class="c-articles u-reset-list">
        {% set writing = get_section(path="writing/_index.md") %}
        {% for page in writing.pages | slice(end=5) %}
          <li>
            <time datetime="{{ page.date }}">{{ page.date | date(format="%y'%b %d") }}</time>
            <a href="{{ page.permalink }}" title="{{ page.summary }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="s-blips">
      <h2>Blips</h2>

      <ul class="c-articles u-reset-list">
        {% set blips = get_section(path="blips/_index.md") %}
        {% for page in blips.pages | slice(end=5) %}
          <li>
            <time datetime="{{ page.date }}">{{ page.date | date(format="%y'%b %d") }}</time>
            <a href="{{ page.permalink }}" title="{{ page.summary }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="s-contact">
      <h2>Reaching out</h2>

      <address>
        Feel free to reach out at <em>hi@[this domain]</em>, <a href="https://www.linkedin.com/in/tcione" title="LinkedIn is a weird network, but if that's your thing, let's go" target="_blanl" rel="noopener">LinkedIn</a> or <a href="https://twitter.com/tcione" title="I mostly tweet in portuguese. DMs are open, though." target="_blank" rel="noopener">Twitter</a> :)
      </address>
    </section>
  </div>
{% endblock content %}
