{% extends "site.html" %}

{% block css_section %}home{% endblock %}

{% block content %}
  <div class="u-wrapper">
    <section class="s-introduction">
      <h1>Hi, <br role="presentation"/>there!</h1>

      <p>I'm Tales, a Brazilian software developer living in Berlin. I'm currently working as an Engineering Manager for <a href="https://heyjobs.co" title="Visite the HeyJobs home page" target="_blank">HeyJobs</a>.</p>
    </section>

    <section class="s-blogroll">
      <h2>Some posts, in case you're interested:</h2>

      <ul>
        {% set blog = get_section(path="blog/_index.md", paginate_by=1) %}
        {% for page in blog.pages %}
          {# TODO: Fix this weird paging hack #}
          {% if loop.index > 5 %}{% break %}{% endif %}
          <li><a href="{{ page.permalink }}" title="A blog post">{{ page.title }}</a></li>
        {% endfor %}
      </ul>

      <p><a href="{{ get_url(path="@/blog/_index.md", trailing_slash=true) }}" target="Get access to a list with all my blog posts"><small><span role="presentation">&raquo;</span> Look at the full archive</a></small></p>
    </section>

    <section class="s-contact">
      <h2>Contact</h2>
      <p>Feel free to reach out at <a href="mailto:hi@tales.dev" title="Send me a friendly email">hi@tales.dev</a> :)</p>
    </section>
  </div>
{% endblock content %}
