{% extends "site.html" %}

{% block body_classes %}p-article{% endblock %}

{% block title %}{{ page.title }} | Tales Cione{% endblock %}
{% block meta_og_title %}{{ page.title }} | Tales Cione{% endblock %}

{% block description %}{{ page.summary }}{% endblock %}
{% block meta_og_description %}{{ page.summary }}{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "keywords": "{% if page.taxonomies.tags %}{% for tag in page.taxonomies.tags %}{{ tag }} {% endfor %}{% endif %}",
  "wordcount": "{{ page.word_count }}",
  "url": "{{ page.permalink }}",
  "datePublished": "{{ page.date }}",
  "dateCreated": "{{ page.date }}",
  "dateModified": "{{ page.updated }}",
  "description": "{{ page.description }}",
  "publisher": {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "name": "Tales Cione",
    "logo": "{{ config.base_url }}/favicons/favicon-1024x1024.png"
  },
  {% if page and page.extra.thumbnail %}
    "image": "{{ page.extra.thumbnail }}",
  {% endif %}
  "mainEntityOfPage": "True",
  "author": {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Tales Cione"
  }
}
</script>
{% endblock %}

{% block content %}
  <article class="c-article">
    <div class="u-wrapper">
      <header>
        {% if page.date %}
          <time datetime="{{ page.date }}">{{ page.date | date(format="%Y'%b %d") }}</time>
        {% endif %}

        <h1>{{ page.title }}</h1>

        {% if page.taxonomies.tags %}
          <ul class="c-article__tags u-reset-list">
            {% for tag in page.taxonomies.tags %}
            <li><a href="{{ config.base_url }}/tags/{{tag}}" title="Look at the archive for {{ tag }}">#{{ tag }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </header>

      {% if page.extra.cannonical_url %}
        <div class="c-notification">
          <p>This text was originally published in <a href="{{page.extra.cannonical_url}}" title="This text on {{page.extra.cannonical_url_medium}}">{{page.extra.cannonical_url_medium}}</a>. Please pay a visit there if you have the chance :)</p>
        </div>
      {% endif %}

      <div>{{ page.content | safe }}</div>
    </div>
  </article>
{% endblock content %}
