{% extends "site.html" %}

{% block body_classes %}p-article{% endblock %}

{% block title %}
  {{ page.title }} | Tales Cione
{% endblock title %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "keywords": "{% if page.taxonomies.tags %}{% for tag in page.taxonomies.tags %}{{ tag }} {% endfor %}{% endif %}",
  "wordcount": "{{ page.word_count }}",
  "url": "{{ page.permalink }}",
  "datePublished": "{{ page.date }}",
  "dateCreated": "{{ page.date }}",
  "dateModified": "{{ page.updated }}",
  "description": "{{ page.description }}",
  "publisher": {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "name": "Tales Cione",
    "logo": "https://placekitten.com/300/400"
  },
  "image": "https://placekitten.com/300/400",
  "mainEntityOfPage": "True",
  "author": {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Tales Cione"
  }
}
</script>
{% endblock %}

{% block content %}
  {% set parent = get_section(path=page.ancestors[1]) %}

  <article class="c-main-article">
    <div class="c-main-article__wrapper">

      <header>
        <p class="c-main-article__meta">
          {% if parent %}
            Filed in [<a href="{{ parent.permalink }}" title="See all articles filed in {{ parent.title }}">{{ parent.title }}</a>]
          {% endif %}

          {% if page.date %}
            on [<time datetime="{{ page.date }}">{{ page.date | date }}</time>]
          {% endif %}

          {% if page.taxonomies.tags %}
            under
            {% for tag in page.taxonomies.tags %}
              {% if loop.index > 1 %}, {% endif %}
              [<a href="{{ config.base_url }}/tags/{{tag}}" title="Look at the archive for {{ tag }}">{{ tag }}</a>]
            {% endfor %}
          {% endif %}
        </p>

        {% if page.extra.zettelkasten_id %}
          <p class="c-main-article__meta">
            ID: {{ page.extra.zettelkasten_id }}
          </p>
        {% endif %}

        <h1>{{ page.title }}</h1>
      </header>

      <div>{{ page.content | safe }}</div>
    </div>
  </article>
{% endblock content %}
