{% extends "site.html" %}

{% block body_classes %}p-default{% endblock %}

{% block title %}
  {{ section.title }} | Tales Cione
{% endblock title %}

{% block content %}
  <div class="u-wrapper">
    <h1>{{ section.title }}</h1>

    <p>{{ section.description }}</p>

    <ul class="c-article-list">
      {% for page in paginator.pages %}
        <li>
          {% if page.date %}
            <time datetime="{{ page.date }}">{{ page.date | date }}</time>
          {% endif %}
          <a href="{{ page.permalink }}" title="{{ page.summary }}">
            <h2>{{ page.title }}</h2>
          </a>

          <p>{{ page.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
