{% extends "site.html" %}

{% block body_classes %}p-default p-index{% endblock %}

{% block title %}{{ section.title }} | Tales Cione{% endblock %}
{% block meta_og_title %}{{ section.title }} | Tales Cione{% endblock %}

{% block description %}{{ section.description }}{% endblock %}
{% block meta_og_description %}{{ section.description }}{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "blogPost": [
  {% for page in paginator.pages %}
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ page.title }}",
      "keywords": "{% if page.taxonomies.tags %}{% for tag in page.taxonomies.tags %}{{ tag }} {% endfor %}{% endif %}",
      "wordcount": "{{ page.word_count }}",
      "url": "{{ page.permalink }}", "datePublished": "{{ page.date }}",
      "dateCreated": "{{ page.date }}",
      "dateModified": "{{ page.updated }}",
      "description": "{{ page.description }}",
      "publisher": {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "Tales Cione",
        "logo": "https://placekitten.com/300/400"
      },
      "image": "https://placekitten.com/300/400",
      "mainEntityOfPage": "True",
      "author": {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Tales Cione"
      }
    }
  {% endfor %}
  ],
  "abstract": "{{ section.title }}: {{ section.description }}",
  "author": {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Tales Cione"
  }
}
</script>
{% endblock %}

{% block content %}
  <div class="u-wrapper">
    <h1>{{ section.title }}</h1>

    <div class="c-section-intro">{{ section.content | safe }}</div>

    <ul class="c-articles u-reset-list">
      {% for page in paginator.pages %}
        <li>
          <a href="{{ page.permalink }}" title="{{ page.summary }}">
            {% if page.date %}
              <time datetime="{{ page.date }}">{{ page.date | date(format="%y'%b %d") }}</time>
            {% endif %}
            <span>{{ page.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <nav class="c-pagination">
      {% if paginator.previous %}
        <a class="c-pagination__previous" href="{{ paginator.previous }}"><span role="presentation">&laquo; </span>Previous</a>
      {% endif %}
      {% if paginator.next %}
      <a class="c-pagination__next" href="{{ paginator.next }}">Next <span role="presentation"> &raquo;</span></a>
      {% endif %}
    </nav>
  </div>
{% endblock content %}
