<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
  <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
</head>
<body class="{% block body_classes %}p-default{% endblock %}">
  {% block main_header %}
    <header class="s-main-header">
      <div class="u-wrapper">
        <nav>
          <ul>
            <li>
              <a href="{{ config.base_url }}" title="Back to home page">tales.dev</a>
            </li>
            <li>
              <a href="{{ get_url(path="@/blog/_index.md", trailing_slash=true) }}" title="Check out my blog posts">blog</a>
            </li>
            <li>
              <a href="{{ get_url(path="@/zettelkasten/_index.md", trailing_slash=true) }}" title="My learning notes">zettelkasten</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  {% endblock main_header %}

  <main>
    {% block content %}{% endblock content %}
  </main>

  {% block main_footer %}
    <footer class="s-main-footer">
      <div class="u-wrapper">
        <p><small>tales.dev</small></p>
      </div>
    </footer>
  {% endblock main_footer %}
</body>
</html>
